.navigation{
    background-color: aquamarine;
    width: 15em;
    float: left;
}
div img{
    float: right;
}
.article{
    background-color: darkorchid;
    margin-bottom: .2em;
}
h3{
    margin: 0px;
}
p{
    margin: 0px;   
}

.footer{
    background-color: rgb(247, 212, 122);
    clear: both;
}