.navigation{
    background-color: aquamarine;
    width: 15em;
    float: left;
}

.article{
    background-color: darkorchid;
    margin-bottom: .2em;
    overflow: hidden;
}
img{
   float: right;
}
.clear{
    clear: both;
}
.footer{
    background-color: rgb(247, 212, 122);
    clear: both;
}